
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<bookStore.Models.Book>

    <link  rel="stylesheet" href="~/css/EcommerceStyle.css"/>
<h1>Inicio</h1>

